# The API key for the OpenAI GPT-4 API
OPENAI_API_KEY

# The name of the chat service
SERVICE_NAME=

# gRPC server address (the address on which the gRPC service listens)
GRPC_ADDR=

# Consul server address (used for service discovery)
CONSUL_ADDR=

# AMQP configuration (used for message broker connections)
AMQP_USER=
AMQP_PASS=
AMQP_HOST=
AMQP_PORT=